body{
  padding: 0;
  margin: 0;
  background-image: linear-gradient(to right,rgba(41, 15, 3, 0.911),rgba(77, 88, 194, 0.938),rgba(34, 25, 9, 0.966));
}*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}html {
  scroll-behavior: smooth !important;
}